<h2 class="text-center"> Product List</h2>
<button class="btn btn-primary" routerLink='/editproduct' [hidden]="!isUserLogged"> Add New Product </button>
<div class="row mt-5">
    <div class="col-lg-4 col-md-2 mt-5" *ngFor="let product of productListFilter  ; let i = index">
        <div class="card shadow-sm">
            <img [src]="product.Img" class="imageproduct">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="card-text text-dark mb-3 pb-3" [routerLink]="['/products', product.id]">
                            {{ product.Name }}
                        </a>
                        <a type="button" class="btn btn-sm" [hidden]="!isUserLogged"
                            [routerLink]="['/editproduct', product.id]">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </div>
                    <a type="button" class="btn" [hidden]="!isUserLogged" mat-button (click)="openDialog(product.id)">
                        <mat-icon>clear</mat-icon>

                    </a>
                </div>


                <!-- <input #itemsCount type="number" class="form-control mb-2 mt-3 " min="1" max={{product.Quantity}} /> -->

                <p> {{product.Price | currency :"USD" : 'symbol'}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger" [disabled]="product.Quantity==0"
                            (click)="BuyProduct(product )">Add to cart</button>

                    </div>

                    <ng-container [ngSwitch]="product.Quantity">
                        <small class="text-muted" *ngSwitchCase="0">Out of stock</small>
                        <small *ngSwitchCase="1" class="text-muted">last item</small>
                        <small *ngSwitchDefault>{{product.Quantity}}</small>
                    </ng-container>

                </div>
            </div>
        </div>

    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end mt-5">
        <li class="page-item " [class.disabled]="page==1">
            <a class="page-link" (click)="prevPage()">Previous</a>
        </li>
        <li class="page-item" aria-current="page"><a class="page-link" href="#">{{page}}</a></li>


        <li class="page-item">
            <a class="page-link" (click)="nextPage()">Next</a>
        </li>
    </ul>
</nav>